body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#authForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#authForm h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#authForm label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

#authForm input[type="text"],
#authForm input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#authForm button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

#authForm button:hover {
  background-color: #0056b3;
}

#togglePassword {
  position: relative;
  top: 2px;
  right: 30px;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#toggleConfirmPassword{
  position: relative;
  top: 2px;
  right: 30px;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#closeBtn {
 position: absolute; /* Đặt nút ở vị trí tuyệt đối so với phần tử chứa nó. */
  top: 30px; /* Đặt nút cách phía trên 60px. */
  right: 300px; /* Đặt nút cách phía phải 290px. */
  background-color: #ffffff; /* Thiết lập màu nền của nút là màu trắng (mặc dù chú thích đề cập là màu đỏ). */
  color: black; /* Thiết lập màu chữ của nút là màu đen. */
  border: none; /* Loại bỏ viền của nút. */
  border-radius: 100%; /* Làm tròn các góc của nút với bán kính 50%, biến nút thành hình tròn. */
  width: 5px; /* Thiết lập chiều rộng của nút là 30px. */
  height: 30px; /* Thiết lập chiều cao của nút là 30px. */
 cursor: pointer; /* Thiết lập con trỏ chuột thành hình bàn tay khi di chuột qua nút. */
  font-size: 20px; /* Thiết lập kích thước chữ của nút là 16px. */
  text-align: center; /* Canh giữa văn bản bên trong nút theo chiều ngang. */
}
